@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-hero {
    background-image: url('13670.jpg');
    background-size: cover;
    background-position: center;
  }

  body {
    @apply font-poppins;
  }
  
